@import url("https://use.typekit.net/wpd2upl.css");

body {
    background-color: #FAEDCD;
    font-size: 1.6rem;
    padding-block-start: 90px;
    font-family: "pinot-grigio-modern", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .card {
    flex-direction: row;
    align-items: center;
    background-color: grey;
    border-radius: 1rem;
  }
  .card-title {
    font-weight: bold;
    font-size: 20px;
  }

  .card-text{
    font-size: 16px;
  }
  
  .card img {
    width: 30%;
    margin-left: 20px;
    border-top-right-radius: 0;
  }

.mod-card{
  background-color: aqua;
}

  @media only screen and (max-width: 768px) {
    a {
      display: none;
    }
    .card-body {
      padding: 0.5em 1.2em;
    }
    .card-body .card-text {
      margin: 0;
    }
    .card img {
      width: 50%;
    }
  }
  @media only screen and (max-width: 1200px) {
    .card img {
      width: 40%;
    }
  }

.bar-container{
  width: 100%;
  height: 400px ;
  background-color: #D4D4CF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.mod-1{
  background-color: #F07167;
}



  .skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }

  .skills h2{
    font-weight: 400;
    font-size: 16px;
  
  }

  .progress-bar{
    background-color: black;
    width: 600px;
    height: 20px;
    border-radius: 10px;
  }

  .progress-bar div{
    height: 20px;
    border-radius: 10px;
    width: 0%;
  }

.mod-1{
  background-color: #F07167;
  animation: mod-1 1s linear forwards;
}

.mod-2{
  background-color: #0081A7;
  animation: mod-2 1s linear forwards;
}

.mod-3{
  background-color: #F5A624;
  animation: mod-3 1s linear forwards;
}

.mod-4{
  background-color: #2FCCAD;
  animation: mod-4 1s linear forwards;

}

@keyframes mod-1{
  100%{
    width: 86%;
  }
}

@keyframes mod-2{
  100%{
    width: 74%;
  }
}

@keyframes mod-3{
  100%{
    width: 35%;
  }
}

@keyframes mod-4{
  100%{
    width: 40%;
  }
}









  .comment-box,
  .post-comment .list{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px black;
  }

.comment-section{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.post-comment .list{
  width: 100%;
  margin-bottom: 12px;
}

.post-comment .list .user{
  display: flex;
  padding: 8px;
  overflow: hidden;
}

.post-comment .list .user img{
  height: 38px;
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;  
}

.comment-section .name{
  text-transform: uppercase;
  font-weight: 500;
}

.post-comment .list .day{
  font-size: 12px;
}

.post-comment .comment-post{
  padding: 0 0 15px 58px
}

.comment-box{
  padding: 10px
}

.comment-box .user{
  display: flex;
  width: min-content;
}

.comment-box .image img{
  width:24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
}

.comment-box textarea{
  height: 50px;
  width: 1 ;
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px black;
}

.comment-box textarea:focus-visible



.comment-box .comment-submit{
  padding: 10px 10px;
  border: none;
  background-color: greenyellow;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.comment-box .comment-submit:hover{
  background-color: blue;
  
}

