@import url("https://use.typekit.net/wpd2upl.css");

:root {

  /**
   * colors
   */
  --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
  --rich-black-fogra-29: hsl(217, 28%, 9%);
  --gray-x-11-gray: hsl(0, 0%, 74%);
  --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
  --bittersweet: hsl(5, 100%, 69%);
  --smoky-black: rgb(7, 6, 1);
  --gainsboro: hsl(0, 0%, 88%);
  --black_90: hsla(0, 0%, 0%, 0.9);
  --cultured: hsl(200, 12%, 95%);
  --salmon: hsl(5, 100%, 73%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */
  --ff-roboto: 'Roboto', sans-serif;
  --ff-josefin-sans: 'Josefin Sans', sans-serif;
  --fs-1: 3rem;
  --fs-2: 2.6rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.6rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;
  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  /**
   * transition
   */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  /**
   * spacing
   */
  --section-padding: 60px;
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

.card2{
  width: 400px;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: auto; /* only if you want fixed height */
  }

.img-top{
  width: 350px;
}

a { text-decoration: none; }

a,
img,
span,
table,
tbody,
button,
ion-icon { display: block; }

button,
input {
  font: inherit;
  background: none;
  border: none;
}

input { width: 100%; }

button { cursor: pointer; }

address {
  font-style: normal;
  line-height: 1.8;
}

html {
  font-family: var(--ff-josefin-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-size: 1.6rem;
  padding-block-start: 90px;
  font-family: "pinot-grigio-modern", sans-serif;
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }





/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px;}

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3,
.h4 { color: var(--rich-black-fogra-29); }

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-300);
  line-height: 1.5;
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-4); }

.h4 {
  font-size: var(--fs-5);
  text-transform: uppercase;
}

.btn {
  background: var(--background, var(--bittersweet));
  color: var(--color, var(--white));
  font-size: var(--fs-5);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 25px;
  border: 1px solid var(--border-color, var(--bittersweet));
}

.btn-primary:is(:hover, :focus) {
  --background: var(--salmon);
  --border-color: var(--salmon);
}

.btn-secondary {
  --background: white;
  --border-color: var(--white);
  --color: var(--black);
}

.btn-secondary:is(:hover, :focus) { --background: hsla(0, 100%, 73%, 0.1); }

.has-scrollbar {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar { height: 10px; }

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 20px;
  outline: 2px solid var(--bittersweet);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--bittersweet);
  border: 2px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }

.card-banner {
  background: var(--cultured);
  position: relative;
  height: 350px;
  overflow: hidden;
}

.image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: var(--transition-2);
}

.product-card:is(:hover, :focus) .image-contain { transform: scale(1.1); }

.card-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background: var(--bittersweet);
  color: var(--white);
  padding: 5px 15px;
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
  border-radius: 25px;
}

.card-action-list {
  position: absolute;
  top: 20px;
  right: -20px;
  opacity: 0;
  transition: var(--transition-1);
}

.product-card:is(:hover, :focus) .card-action-list {
  right: 20px;
  opacity: 1;
}

.card-action-item { position: relative; }

.card-action-item:not(:last-child) { margin-bottom: 10px; }

.card-action-btn {
  background: var(--white);
  color: var(--rich-black-fogra-29);
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.card-action-btn ion-icon { --ionicon-stroke-width: 30px; }

.card-action-btn:is(:hover, :focus) {
  background: var(--bittersweet);
  color: var(--white);
}

.card-action-tooltip {
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
  width: max-content;
  background: var(--black_90);
  color: var(--white);
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.card-action-btn:is(:hover, :focus) + .card-action-tooltip { opacity: 1; }

.card-content {
  padding: 24px 15px 0;
  text-align: center;
}

.card-cat {
  font-family: var(--ff-roboto);
  color: var(--onyx);
  font-size: var(--fs-7);
  margin-bottom: 12px;
}

.card-cat-link {
  display: inline-block;
  color: inherit;
  transition: var(--transition-1);
}

.card-cat-link:is(:hover, :focus) { color: var(--bittersweet); }

.product-card .card-title { margin-bottom: 12px; }

.product-card .card-title > a {
  color: inherit;
  transition: var(--transition-1);
}

.product-card .card-title > a:is(:hover, :focus) { color: var(--bittersweet); }

.card-price {
  color: var(--bittersweet);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-600);
}

.card-price del {
  color: var(--gray-x-11-gray);
  margin-left: 8px;
}

.btn-link {
  --background: none;
  --border-color: none;
  padding: 0;
  margin-inline: auto;
  max-width: max-content;
  font-family: var(--ff-roboto);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--white);
}

.btn-link:is(:hover, :focus) { border-color: transparent; }





/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  background: var(--salmon);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header.active { box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1); }

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.nav-open-btn {
  font-size: 30px;
  background: var(--bittersweet);
  color: var(--white);
  padding: 8px;
}

.nav-open-btn:is(:hover, :focus) { background: var(--salmon); }

.nav-open-btn ion-icon { --ionicon-stroke-width: 40px; }

.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 270px;
  height: 100%;
  border-right: 3px solid var(--rich-black-fogra-29);
  font-family: var(--ff-roboto);
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 2;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(280px);
  transition: 0.5s var(--cubic-in);
}

.nav-close-btn {
  color: var(--salmon);
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px;
  font-size: 25px;
  transition: var(--transition-1);
}

.nav-close-btn ion-icon { --ionicon-stroke-width: 55px; }

.nav-close-btn:is(:hover, :focus) { color: var(--salmon); }

.navbar .logo {
  background: var(--white);
  padding-block: 90px 90px;
  padding-left: 50px;
}

.navbar .logo img { margin-inline: auto; }

.navbar-list,
.nav-action-list { margin: 30px; }

.navbar-list {
  padding: 20px;
  border-bottom: 1px solid var(--gainsboro);
}

.navbar-link {
  color: var(--rich-black-fogra-29);
  padding-block: 10px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--o); }

.navbar-item:not(:last-child) { border-bottom: 1px solid var(--gainsboro); }

.nav-action-list > li:first-child { display: none; }

.nav-action-btn {
  color: var(--rich-black-fogra-29);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-block: 10px;
  transition: var(--transition-1);
}

.nav-action-btn:is(:hover, :focus) { color: var(--onyx); }

.nav-action-btn ion-icon {
  font-size: 22px;
  --ionicon-stroke-width: 25px;
}

.nav-action-text strong {
  font-weight: initial;
  color: var(--bittersweet);
}

.nav-action-badge {
  margin-left: auto;
  font-size: var(--fs-8);
  background: var(--bittersweet);
  color: var(--white);
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.6);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}




/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-title { margin-bottom: 10px; }

.hero-title > strong { display: block; }

.hero-text {
  color: var(--onyx);
  font-family: var(--ff-roboto);
  font-size: var(--fs-8);
  line-height: 1.8;
  max-width: 46ch;
  margin-bottom: 25px;
}





/*-----------------------------------*\
 * #MODULES & SCHEDULE TABS
\*-----------------------------------*/

.container2{
  padding: 10%;
}

.card2{
  max-width: 300px;
}
.col-8{
  font-size: 40px;
}


.col-4{
  font-size: 40px;
}

.card{
  padding-top: 20px;
  background-color: #ff6a5b;
}

.card1{
  padding-top: 20px;
  background-color:  #0081A7;
  border-radius: 50px;
}


.btn0 {
  padding-left: 85px;
  font-size: 20px;
  color: #fff;
}

.card-title{
  font-size: 30px;
  padding-left: 150px;
}

.card-text{
  font-size: 20px;
  padding-left: 180px;
  color: #fff;
}
.img1{
   margin-left: 200px;
   margin-top: 20px;
}





/*-----------------------------------*\
 * #ANNOUNCEMENT
\*-----------------------------------*/

.announcements {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
}

.announcements h3{
  color: salmon;
  font-family: "pinot-grigio-modern", sans-serif;
  border: #ff6a5b;
  margin-bottom: 5rem;
  font-size: 80px;
}

.announcements__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.announcements__card {
 margin: 1rem;
 height: 525px;
 width: 400px;
 border-radius: 4px;
 background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6)100% 
 ), 
 url('images/OH.jpg');
 background-size: cover;
 position: relative;
 color: #fff;
}

.announcements__card:nth-child(2) {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6)100% 
 ), 
 url('images/NP60.jpg');
}

.announcements h2 {
   position: absolute;
   top: 150px;
   left: 30px;
   color: white;
   font-size: 3rem;
}

.announcements__card p {
  position: absolute;
  top: 200px;
  left: 30px;
  color: black;
}

@media screen and (max-width: 960px) {
  .announcements {
      height: 1600px;
  }

  .announcements h3 {
      font-size: 2rem;
      margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .announcements {
      height: 1400px;
  }

  .announcements h1 {
      font-size: 1.2rem;
  }

  .announcements__card {
      width: 300px;
  }
}




/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer { font-family: var(--ff-roboto); }

.footer-top { background: var(--cultured); }

.footer-brand {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--gainsboro);
  margin-bottom: 50px;
}

.footer-brand .logo { margin-bottom: 15px; }

.social-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-link {
  background: var(--gainsboro);
  color: var(--onyx);
  font-size: 20px;
  padding: 10px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
  background: var(--bittersweet);
  color: var(--white);
}

.footer-list-title {
  position: relative;
  color: var(--rich-black-fogra-29);
  font-family: var(--ff-josefin-sans);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 25px;
}

.footer-list-title::after {
  content: "";
  display: block;
  background: var(--bittersweet);
  width: 50px;
  height: 2px;
  margin-top: 10px;
}

.footer-link {
  color: var(--onyx);
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 6px;
  transition: var(--transition-1);
}

a.footer-link:is(:hover, :focus) { color: var(--bittersweet); }

.footer-link-text { flex: 1; }

.footer-list:not(:last-child) { margin-bottom: 30px; }

.footer-list:first-child ion-icon {
  color: var(--bittersweet);
  font-size: 22px;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-block: 6px;
}

.table-head {
  color: var(--rich-black-fogra-29);
  font-weight: var(--fw-500);
}

.table-data { color: var(--onyx); }

.newsletter-text {
  color: var(--onyx);
  line-height: 1.7;
  margin-bottom: 20px;
}

.newsletter-form { position: relative; }

.newsletter-input {
  background: var(--white);
  color: var(--onyx);
  padding: 15px 25px;
  padding-right: 120px;
}

.newsletter-form .btn-primary {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-family: var(--ff-josefin-sans);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  padding-inline: 20px;
}

.footer-bottom {
  background: var(--rich-black-fogra-29);
  padding-block: 20px;
}

.copyright {
  text-align: center;
  color: var(--white);
}

.copyright-link {
  display: inline-block;
  color: var(--bittersweet);
}





/*-----------------------------------*\
 * #GO TOP
\*-----------------------------------*/

.go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--bittersweet);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  border: 4px solid var(--white);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
  z-index: 2;
}

.go-top-btn.active {
  opacity: 1;
  visibility: visible;
}

.go-top-btn:is(:hover, :focus) { background: var(--salmon); }





/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 650px;
    width: 100%;
    margin-inline: auto;
  }

  .has-scrollbar > li { min-width: calc(50% - 12.5px); }



  /**
   * HERO
   */

  .hero-text { font-size: var(--fs-7); }



  /**
   * PRODUCTS
   */

  .product-list { grid-template-columns: 1fr 1fr; }



  /**
   * CTA
   */

  .cta-card { text-align: left; }

  .cta-card .card-title { max-width: 14ch; }

  .cta-card .btn-link { margin-inline: 0; }



  /**
   * INSTA POST
   */

  .insta-post-list .insta-post-item { min-width: 25%; }



  /**
   * FOOTER
   */

  .footer-brand .logo { margin-bottom: 0; }

  .footer-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 3rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .h4 { --fs-5: 2rem; }



  /**
   * GO TOP
   */

  .go-top-btn {
    padding: 15px;
    border-width: 6px;
    bottom: 30px;
    right: 30px;
  }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-3: 2.4rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 970px; }

  .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }



  /**
   * HEADER
   */

  .nav-open-btn,
  .nav-close-btn,
  .navbar .logo,
  .nav-action-text,
  .overlay { display: none; }

  .navbar,
  .navbar-list,
  .nav-action-list { all: unset; }

  .navbar-item:not(:last-child) { border: none; }

  .navbar-list,
  .nav-action-list { display: flex; }

  .nav-action-list { gap: 20px; }

  .navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-list {
    margin-inline: auto;
    gap: 35px;
  }

  .navbar-link {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-500);
  }

  .nav-action-list > li:first-child { display: block; }

  .nav-action-btn { position: relative; }

  .nav-action-badge ion-icon { --ionicon-stroke-width: 30px; }

  .nav-action-badge {
    position: absolute;
    top: 5px;
    right: -12px;
  }



  /**
   * HERO
   */

  .hero { height: 480px; }



  /**
   * PRODUCTS
   */

  .product-list { grid-template-columns: repeat(3, 1fr); }



}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5rem;
    --fs-2: 3.6rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1280px; }



  /**
   * HERO
   */

  .hero { height: 580px; }

  .hero .container { max-width: 1000px; }

  .hero-text {
    font-size: var(--fs-6);
    max-width: 50ch;
  }



  /**
   * PRODUCTS
   */

  .product-list { grid-template-columns: repeat(4, 1fr); }





  /**
   * FOOTER
   */

  .footer-link-box {
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    gap: 50px;
  }

}

 /**
   * CONTACT
   */

   .contact3 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
  }
  
  .contact3 h1,
  .contact3 h2,
  .contact3 h3,
  .contact3 h4,
  .contact3 h5,
  .contact3 h6 {
    color: #3e4555;
  }
  
  .contact3 .font-weight-medium {
    font-weight: 500;
  }
  
  .contact3 .card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  }
  
  .contact3 .btn-danger-gradiant {
    background: #ff4d7e;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
    background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  }
  
  .contact3 .btn-danger-gradiant:hover {
    background: #ff6a5b;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
    background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
  }

body.reward{
    font-family: 'Quicksand', sans-serif;
}

/* Utility stylings */
img{
    width: 100%;
    display: block;
}
.container{
    width: 88vw;
    margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.md-title{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}
.text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

/* announcement section*/
.products{
    background: var(--alice-blue);
    padding: 3.2rem 0;
}
.products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    position: relative;
}
.product-content{
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}
.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}
.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: var(--carribean-green);
}
.btn-buy{
    background: white;
}
.btn-buy:hover{
    background: var(--carribean-green);
    color: #fff;
}
.product-info{
    background: white;
    padding: 2rem;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span{
    color: var(--carribean-green);
}
.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-price:first-of-type{
    text-decoration: line-through;
    color: var(--carribean-green);
}
.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: var(--carribean-green);
}
.product:hover .product-btns{
    opacity: 1;
}
.off-info .sm-title{
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

/* product collection */
.product-collection{
    padding: 3.2rem 0;
}
.product-collection-wrapper{
    padding: 3.2rem 0;
}
.product-col-left{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-1.jpg") center/cover no-repeat;
}
.product-col-r-top{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-2.png") center/cover no-repeat;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    padding: 2rem 1.5rem 3.2rem;
    margin: 5px;
}
.product-col-r-bottom > div:first-child{
    background: #eaa001;
}
.product-col-r-bottom > div:last-child{
    background: #0090ff;
}
.product-col-content{
    text-align: center;
    color: white;
}
.product-collection .text-light{
    opacity: 1;
    font-size: 0.8;
    font-weight: 400;
    line-height: 1.7;
}
.btn-dark{
    background: black;
    color: white;
    outline: 0;
    border-radius: 25px;
    padding: 0.7rem 1rem;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 1rem;
    font-family: inherit;
}
.btn-dark:hover{
    background: var(--carribean-green);
}







/* Media Queries */
@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
}

